<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Logg inn</title>
    <link rel="stylesheet" href="../static/log_in.css">
</head>
<body>

<div class="container">
    <h2>Logg inn</h2>

    <form action="/login" method="POST">

        <label>Brukernavn:</label>
        <input type="text" name="username" required>

        <label>Passord:</label>
        <input type="password" name="password" required>

        <div class="terms-box">

            <label>
                <input type="checkbox" name="terms" value="accepted" required>
                Jeg godtar vilkårene for bruk
            </label>

            <p>
                <a href="/terms" target="_blank">Vis vilkår</a>
            </p>

        </div>

        <button type="submit">
            Logg inn
        </button>

    </form>

    <p>Har du ikke bruker? <a href="/signup">Registrer deg her</a></p>
</div>

</body>
</html>